html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 6rem;
  min-height: 100%;
}

.content {
  padding-bottom: 100px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 10px;
}

.hide {
  display: none;
}

.btn {
  margin: 1px;
}

.ag-form-buttons {
  display: inline;
}

form {
  margin: 100px auto;
}

#add-approver {
  width: 100px;
  min-width: inherit;
}

#remove-approver {
  width: 100px;
  min-width: inherit;
}

iframe {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 452px;
  overflow: hidden;
}



.formalar {
  margin: 0 auto;
  padding-top: 40px;
  height: 800px;
}



.submit-area {
  margin-top: 10px;

}

.table-button {
  text-align: left;
  border: none;
  margin-left: 0;
}

.submit-button-div {
  margin-top: 5px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
}

.wf-new-left {
  min-width: 320px;
}

.table {
  padding-top: 20px;
}

.checkbox {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.status-window {
  color: black;
}

.status-label {
  padding: 5px;
}

.status {
  margin: 5px 0;
}

#wf-change-approvers {
  margin-bottom: 5px;
}
